{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"bracketSameLine": true,
	"printWidth": 80,
	"experimentalTernaries": true,
	"tabWidth": 2,
	"proseWrap": "always",
	"singleAttributePerLine": true,
	"experimentalOperatorPosition": "start",
	"plugins": [
		"prettier-plugin-svelte",
		"prettier-plugin-tailwindcss"
	],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
