@charset "UTF-8";
@import "@computational-biology-aachen/design/tokens.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Note: setting height: 100% and overflow: scroll on body / html breaks
window.scrollTo/window.scrollY as that scrolls via the viewport.
Set min-height: 100vh; on #app in app.html instead
*/
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  font-family: var(--font-sans);
}

img {
  max-width: 100%;
}
